<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/styleuser.css' />
</head>

<body>


    <div class="floating-box">
        <div class="floating-box-slider">
            <h1>NAME:
                <%- title.Name %>
            </h1>
            <h1>ENROLLMENT NO:
                <%- title.EnrollmentNo %>
            </h1>
            <h1>COLLEGE:
                <%- title.College %>
            </h1>
        </div>

        <!-- <p>Welcome to <%-  JSON.stringify(title) %></p>  -->




        <!-- <%- title['27301(4)'].slice(1,3) %> -->

    </div>
</body>

</html>